body {
    background-color: lightblue;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 450px;
    width: 100%;
    justify-content: center;
}

h1 {
    text-align:center;
}

#settings {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
}

label, input, button {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
}

.startSimulation {
    background-color: rgb(113, 209, 113);
}

.startSimulation:hover {
    background-color: rgb(82, 180, 82);
}

.stopSimulation {
    background-color: lightcoral;
}

.stopSimulation:hover {
    background-color: rgb(201, 77, 77)
}

#output {
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    overflow-x: auto;
    width: 350px;
    height: 450px;
}